<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noonpayments.paymentsdk">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".activities.FinalActivity"
            android:exported="false"
            android:theme="@style/MyDialogTheme" />
        <activity android:name=".activities.DSActivity" />
        <activity
            android:name=".activities.CardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".activities.ModeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".activities.NewCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTheme" />
        <!--        <activity-->
        <!--            android:name=".activities.FinishActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/MyDialogTheme" />-->
    </application>

</manifest>